@model IEnumerable<OnlineAuction.Models.User>
@{
    ViewBag.Title = "Список пользователей";
}

<a asp-action="CreateUser">Добавить пользователя</a>
 
<table class="table">
    <tr><th>Email</th><th>Confirmed?</th><th>UserName</th><th>Год</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                @if (user.EmailConfirmed)
                {
                    <img class="verified-img" src="/pictures/ok.png"/>
                }
                else
                {
                    <form asp-action="ConfirmEmail" asp-route-userid="@user.Id" method="post" id="form">
                        <input class="verified-chekbox" type="checkbox" onclick="send()">
                    </form>
                    <script>
                        function send() {
                          $('#form').submit();
                        }
                    </script>
                }
                </td>
            <td>@user.UserName</td>
            <td>@user.Year</td>
            <td>
                <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="EditRole" asp-route-userid="@user.Id">Права доступа</a>
                    <a class="btn btn-sm btn-primary" asp-action="EditUser" asp-route-id="@user.Id">Изменить</a>
                    <a class="btn btn-sm btn-primary" asp-action="ChangeUserPassword" asp-route-id="@user.Id">Сменить пароль</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>