@model OnlineAuction.ViewModels.LotViewModel

@{
    ViewBag.Title = "Информация о лоте";
}
@if (DateTime.UtcNow.AddHours(int.Parse(Model.CurrentUser.TimeZone)) > Model.Lot.FinishDate.AddHours(int.Parse(Model.CurrentUser.TimeZone)))
{
    <h3>Торги завершены</h3>
}
else if (DateTime.UtcNow.AddHours(int.Parse(Model.CurrentUser.TimeZone)) < Model.Lot.PublicationDate.AddHours(int.Parse(Model.CurrentUser.TimeZone)))
{
    <h3>Торги ещё не начались</h3>
}
else
{
    <h3>Торги идут</h3>
}

<p>UTC NOW :@DateTime.UtcNow</p>
<p>PUBL DATE UTC :@Model.Lot.PublicationDate</p>

<p>ADD HOURS TO UTC: @DateTime.UtcNow.AddHours(int.Parse(Model.CurrentUser.TimeZone))</p>
<p>ADD HOURS TO PUBL DATE: @Model.Lot.PublicationDate.AddHours(int.Parse(Model.CurrentUser.TimeZone))</p>


<p>Создатель лота: @Model.Lot.User.UserName</p>
<p>Название: @Model.Lot.Name</p>
<p>Описание: @Model.Lot.Description</p>
<p>Текущая цена: @Model.Lot.StartCurrency руб.</p>
<p>Категория товара: @Model.Lot.Category.Name</p>
@if (User.Identity.IsAuthenticated)
{
    <p>Начало торгов: <span id="PublicationDate">@Model.Lot.PublicationDate.AddHours(int.Parse(Model.CurrentUser.TimeZone))</span></p>
    <p>Конец торгов: <span id="FinishDate">@Model.Lot.FinishDate.AddHours(int.Parse(Model.CurrentUser.TimeZone))</span></p>
}
else
{
    <p>
        Начало торгов (По UTC*): <span id="PublicationDate">@Model.Lot.PublicationDate</span>
    </p>
    <p>конец торгов (По UTC*): <span id="FinishDate">@Model.Lot.FinishDate</span></p>
}
@if (DateTime.UtcNow > Model.Lot.FinishDate && string.IsNullOrEmpty(Model.Lot.WiningUserName))
{
    <p>Итог торгов: Никто так и не поставил ставку</p>
}
else if (DateTime.UtcNow > Model.Lot.FinishDate && !string.IsNullOrEmpty(Model.Lot.WiningUserName))
{
    <p>Итог торгов: победитель - @Model.Lot.WiningUserName</p>
}
else if (DateTime.UtcNow < Model.Lot.PublicationDate)
{
    <p>Торги ещё не начались, ожидайте</p>
}
else
{
    <p>Победитель на данный момент: @Model.Lot.WiningUserName</p>
}

<form asp-action="DeleteLot" asp-route-id="@Model.Lot.Id" method="post">
    <div class="form-group">
        @if (User.Identity.Name == Model.Lot.User.UserName || User.IsInRole("admin"))
        {
            <a class="btn btn-sm btn-primary" asp-action="EditLot" asp-route-id="@Model.Lot.Id">Изменить</a>
        }
        @if (DateTime.UtcNow < Model.Lot.FinishDate &&
             DateTime.UtcNow > Model.Lot.PublicationDate)
        {
            @if (User.Identity.Name == Model.Lot.WiningUserName ||
                 User.Identity.Name == Model.Lot.User.UserName)
            {
                <a class="Disabled btn btn-sm btn-primary"
                   asp-action="RaisePrice"
                   asp-route-id="@Model.Lot.Id"
                   asp-route-username="@User.Identity.Name">
                    Поднять цену
                </a>
            }
            else
            {
                <a class="btn btn-sm btn-primary"
                   asp-action="RaisePrice"
                   asp-route-id="@Model.Lot.Id"
                   asp-route-username="@User.Identity.Name">
                    Поднять цену
                </a>
            }
        }
        @if (User.Identity.Name == Model.Lot.User.UserName || User.IsInRole("admin"))
        {
            <button type="submit" class="btn btn-sm btn-danger">
                Удалить
            </button>
        }
    </div>
</form>

<form asp-action="WriteComment"
      asp-route-lotId="@Model.Lot.Id"
      method="post">
    <div class="form-group">
        <input asp-for="@Model.Comment" type="text" class="form-control" autocomplete="off">
        <button class="btn btn-sm btn-primary" type="submit" style="margin: 5px 0 0 0">Написать коммент</button>
    </div>
</form>

@foreach (var comment in Model.Lot.Comments)
{
    <div class="form-group row" style="margin: 0 0 0 5px">
        <p style="margin: 0 5px 0 0">@comment.User.UserName: @comment.Text</p>
        @if (User.IsInRole("admin") || User.Identity.Name == comment.User.UserName)
        {
            <form method="post">
                <button class="btn btn-sm btn-danger"
                        asp-action="DeleteComment"
                        asp-route-commentid="@comment.Id"
                        asp-route-lotid="@Model.Lot.Id">
                    Удалить
                </button>
            </form>
        }
        <hr>
    </div>
}