@model OnlineAuction.ViewModels.LotViewModel

@{
    ViewBag.Title = "Информация о лоте";
}
@if (DateTime.UtcNow > Model.Lot.FinishDate)
{
    <h3>Торги завершены</h3>
}
else if(DateTime.UtcNow < Model.Lot.PublicationDate)
{
    <h3>Торги ещё не начались</h3>
}
else
{
    <h3>Торги идут</h3>
}

<p>Текущая дата и время (по UTC): @DateTime.UtcNow</p><br>
<p>Создатель лота: @Model.Lot.User.UserName</p>
<p>Название: @Model.Lot.Name</p>
<p>Описание: @Model.Lot.Description</p>
<p>Текущая цена: @Model.Lot.StartCurrency руб.</p>
<p>Категория товара: @Model.Lot.Category.Name</p>
<p>Начало торгов (по UTC): @Model.Lot.PublicationDate</p>
<p>конец торгов (по UTC): @Model.Lot.FinishDate</p>
<p>Победитель на данный момент: @Model.Lot.WiningUserName</p>

<form asp-action="DeleteLot" asp-route-id="@Model.Lot.Id" method="post">
    <div class="form-group">
        @if (User.Identity.Name == Model.Lot.User.UserName || User.IsInRole("admin"))
        {
            <a class="btn btn-sm btn-primary" asp-action="EditLot" asp-route-id="@Model.Lot.Id">Изменить</a>
        }
        @if (DateTime.UtcNow < Model.Lot.FinishDate && 
             DateTime.UtcNow > Model.Lot.PublicationDate)
        {
            @if (User.Identity.Name == Model.Lot.WiningUserName||
                 User.Identity.Name == Model.Lot.User.UserName)
            {
                <a class="Disabled btn btn-sm btn-primary"
                   asp-action="RaisePrice"
                   asp-route-id="@Model.Lot.Id"
                   asp-route-username="@User.Identity.Name">Поднять цену</a>
            }
            else
            {
                <a class="btn btn-sm btn-primary"
                   asp-action="RaisePrice"
                   asp-route-id="@Model.Lot.Id"
                   asp-route-username="@User.Identity.Name">Поднять цену</a>
            }
        }
        @if (User.Identity.Name == Model.Lot.User.UserName || User.IsInRole("admin"))
        {
            <button type="submit" class="btn btn-sm btn-danger">
                Удалить
            </button>
        }
    </div>
</form>

<form asp-action="WriteComment"
      asp-route-lotId="@Model.Lot.Id"
      method="post">
    <div class="form-group">
        <input asp-for="@Model.Comment" type="text" class="form-control" autocomplete="off">
        <button class="btn btn-sm btn-primary" type="submit" style="margin: 5px 0 0 0">Написать коммент</button>
    </div>
</form>

@foreach (var comment in Model.Lot.Comments)
{
    <div class="form-group row" style="margin: 0 0 0 5px">
        <p style="margin: 0 5px 0 0">@comment.User.UserName: @comment.Text</p>
        @if (User.IsInRole("admin")||User.Identity.Name==comment.User.UserName)
        {
            <form method="post">
                <button class="btn btn-sm btn-danger"
                        asp-action="DeleteComment"
                        asp-route-commentid="@comment.Id"
                        asp-route-lotid="@Model.Lot.Id">Удалить</button>
            </form>
        }
        <hr>
    </div>
}
